.welcomeMessageWrapper,
.tutorialWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: var(--display-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;

  .closeButton {
    position: absolute;
    top: 0;
    right: 5px;
    margin: 5px;
  }

  .welcomeMessage {
    display: flex;
    margin-bottom: 5px;
  }

  .buttons {
    display: flex;
    padding: 2em;

    .button {
      width: 12em;
      height: 3em;
      padding: 0.3em;
      margin-right: 2em;
      font-size: 0.7em;
      align-self: flex-end;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 2em;
    width: 100%;
    padding: 10px;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 100%;

    .description {
      width: 70%;
      text-align: center;
    }

    .image {
      flex: 1;
      height: 350px;
      margin: 2%;
      box-shadow: 1px 1px 15px black;
    }
  }
}

.next {
  align-self: center;
  font-size: 3em;
  color: #ebe1e1;
  cursor: pointer;

  &:hover {
    transition: color 0.2s;
    color: #cfc6c6;
  }
}
