.button {
  font-family: inherit;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  border: 1px solid lightgrey;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  .text {
    font-weight: 300;
  }

  &:hover {
    transition: border-color linear 0.4s;
    border-color: black;
  }

  &:hover .text {
    font-weight: 400;
  }
}
