.confirmationToast {
  display: flex;
  position: absolute;
  align-items: center;
  top: -1em;
  padding: 0.7em;
  background: linear-gradient(46deg, #fad163, #ffe08d, #fbeecb);
  background-size: 600% 600%;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both,
    gradientAnimation 1s ease infinite;
  font-variant: inherit;
  letter-spacing: 0.1em;
  border-radius: 50px;
  color: --text-color;
}

.settingDetails {
  text-align: center;
  padding-bottom: 3em;

  .languagesDirection {
    display: flex;
    align-items: center;
    height: 3em;

    .language {
      width: 6em;
      text-align: center;
    }

    .arrowsImageButton {
      border: none;
      outline: none;
      padding: 0;

      .arrowsImage {
        height: 2em;
        margin: 0 1em;
        cursor: pointer;
      }

      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s;
      }
    }
  }
}

.button {
  width: 5em;
  height: 2em;
  padding: 0 0 0px 4px;
  font-size: 1em;
}

.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}
