.confirmationToast {
  display: flex;
  position: absolute;
  align-items: center;
  top: -1em;
  right: 25px;
  padding: 0.7em;
  background-color: #fad163;
  border: 1px solid darkgray;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-variant: inherit;
  letter-spacing: 0.1em;
  color: --text-color;
}

.settingDetails {
  text-align: center;
  padding-bottom: 3em;

  .languagesDirection {
    display: flex;
    align-items: center;
    height: 3em;

    .language {
      width: 6em;
      text-align: center;
    }

    .arrowsImageButton {
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;

      .arrowsImage {
        height: 2em;
        margin: 0 1em;
        cursor: pointer;
      }

      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s;
      }
    }
  }
}

.button {
  width: 5em;
  height: 2em;
  padding: 0 0 0px 4px;
  font-size: 1em;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
