.propertyName {
  width: 15em;
  letter-spacing: 0.3em;
}

.colorPreview {
  padding: 5px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background-color: var(--background-color);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px 1px darkgrey;
  }
}

.colorPickerContainer {
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: 2;
}
