.alertBoxWrapper {
  position: absolute;
  top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40em;
  min-height: 10em;
  padding: 1em;
  background-color: white;
  border: 1px dashed darkgrey;
  box-shadow: 1px 1px 10px darkgrey;
  font-family: inherit;

  .closeButton {
    position: absolute;
    top: 0;
    right: 5px;
    margin: 5px;
  }

  .text {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }

  .buttons {
    flex: 1;
    display: flex;
    align-items: center;

    .button {
      margin-right: 2em;
      padding: 1em;
      width: 5em;
      background-color: rgba(0, 0, 0, 0.03);
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.06);
        transition: background-color 0.09s linear;
      }

      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}
