.colorPicker {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 10px;
  left: 30px;
}

.startPageButton {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 28px;
  height: 28px;
}
