.settingsWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .toPreviousPageButton {
    position: absolute;
    top: 13px;
    left: 55px;
    font-size: 28px;
  }

  .sideMenuWrapper {
    position: absolute;
    left: 1em;
  }
}
