.settingsWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .toPreviousPageButton {
    position: absolute;
    top: 13px;
    left: 55px;
    font-size: 28px;
  }

  .sideMenuWrapper {
    position: absolute;
    left: 1em;
    border: 1px solid red;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
