.toPreviousPageButton {
  position: absolute;
  top: 13px;
  left: 55px;
  font-size: 28px;
}

.settingTitle {
  margin-bottom: 2em;
}

.settingDetails {
  display: flex;
  align-items: center;
  height: 3em;

  .language {
    width: 6em;
    text-align: center;
  }
}

.arrowsImage {
  height: 2em;
  margin: 0 1em;
  cursor: pointer;
}
