.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;

  .title {
    flex: 1;
    align-self: center;
    font-variant: inherit;
    font-size: 1.3em;
    letter-spacing: 0.2em;
  }

  .button {
    width: 12em;
    height: 3em;
    padding: 0.3em;
    margin-right: 2em;
    font-size: 0.7em;
    align-self: flex-end;
  }
}

.content {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: auto;
}
