.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: white;
  border: 1px dotted lightgrey;

  .closeButton {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.2em;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      font-weight: 400;
    }
  }
}
