.caretsWrapper {
  display: flex;
  height: 3em;
  padding-bottom: 3em;

  .caret {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin: 0.2em;
    padding: 0.4em;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: #f8f8f8;
      transition: background-color 0.4s linear;
    }
  }

  .submitted {
    border: 1px solid var(--text-color-light);
  }
}
