.toPreviousPageButton {
  position: absolute;
  top: 13px;
  left: 55px;
  font-size: 28px;
}

.existingLanguage {
  position: relative;
  line-height: 1.5em;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
    transition: background-color 0.09s linear;
  }

  &:last-of-type {
    margin-right: 0px;
  }

  .languagesPairBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    .deleteButton {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      font-size: 0.7em;
      top: 1px;
      right: 1px;
      color: #fad163;

      &:hover {
        color: indianred;
        opacity: 1;
        transition: color 0.3s;
      }
    }

    .sourceLanguage {
      font-size: 0.7em;
    }
  }

  &:hover .deleteButton {
    visibility: visible;
    opacity: 0.3;
    transition: opacity 0.3s linear;
  }
}

.alertBoxWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  width: 40em;
  min-height: 10em;
  padding: 1em;
  background-color: plum;
}
