.button {
  width: 12em;
  height: 3em;
  padding: 0.3em;
  font-size: 0.7em;
  align-self: flex-end;
}

.existingLanguagesRow {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;

  .existingLanguage {
    line-height: 1.5em;
    padding: 0.5em;
    margin-right: 1em;
    margin-bottom: 1.5em;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;

    &:hover {
      background-color: #fafafa;
    }

    &:last-of-type {
      margin-right: 0px;
    }

    .languagesPairBox {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover .targetLanguage {
        color: black;
      }

      .sourceLanguage {
        font-size: 0.7em;
      }
    }
  }
}
