.button {
  width: 12em;
  height: 3em;
  padding: 0.3em;
  font-size: 0.7em;
  align-self: flex-end;
}

.existingLanguagesRow {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;

  .existingLanguage {
    height: 2em;
    line-height: 2em;
    box-sizing: border-box;
    margin-right: 1em;
    margin-bottom: 1.5em;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;

    &:hover {
      color: black;
    }

    &::after {
      content: '';
      display: block;
      border-bottom: solid 1px darkgrey;
      transform: scaleX(0);
      transition: transform 0.2s linear;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &:last-of-type {
      margin-right: 0px;
    }
  }
}
