.mottoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 2em;

  .title {
    font-size: 3em;
    font-variant: small-caps;
  }

  .subtitle {
    font-size: 1em;
    letter-spacing: 0.5em;
  }
}
