.settingsWindow {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;

  .left {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: center;

    .backgroundColorPreview {
      background-color: var(--background-color);
    }

    .displayColorPreview {
      background-color: var(--display-color);
    }

    .textColorPreview {
      background-color: var(--text-color);
    }
  }
}

.right {
  display: flex;
  flex: 1 1;
  align-items: center;
}
