.settingsWindow {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;

  .left {
    flex: 1;
  }
}

.right {
  display: flex;
  flex: 1 1;
  justify-content: center;
}
