.gameWindowWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;

  .timerWrapper {
    position: absolute;
    top: 6em;
    left: -2em;
    display: flex;
    justify-content: center;
    text-align: center;
    animation: roll-in-left 0.6s ease-out both;
  }

  .resultsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    font-size: 1.6em;
    font-variant: inherit;
    letter-spacing: 0.1em;
    color: var(--text-color);
  }

  .playArea {
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    .wordToTranslate {
      font-size: 1.5em;
      font-variant: inherit;
      letter-spacing: 0.2em;
      color: var(--text-color);
      cursor: default;
    }
  }

  .next {
    align-self: center;
    font-size: 3em;
    color: #ebe1e1;
    cursor: pointer;

    &:hover {
      transition: color 0.2s;
      color: #cfc6c6;
    }
  }

  .progress {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    color: var(--text-color);
  }
}

input {
  text-align: center;
  font-size: 1.5em;
  height: 3em;
  outline: none;
}

:placeholder-shown {
  letter-spacing: 0.2em;
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
