:root {
  --background-color: #5d5abf;
  --text-color: #7b7676;
  --display-color: white;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}
