.colorPicker {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
  height: 2em;
  width: 17em;

  .propertyName {
    width: 15em;
    letter-spacing: 0.3em;
  }

  .colorPreview {
    padding: 5px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    box-shadow: 0px 0px 5px 1px darkgrey;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 5px 4px darkgrey;
    }
  }
}
