.playingCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: auto;
  background-color: white;
  box-shadow: 1px 7px 15px lightgrey;
}
