.toPreviousPageButton {
  position: absolute;
  top: 13px;
  left: 55px;
  font-size: 28px;
}

.category {
  position: relative;
  line-height: 1.5em;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
    transition: background-color 0.09s linear;
  }

  .deleteButton {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    font-size: 0.7em;
    top: 1px;
    right: 1px;
    color: #fad163;

    &:hover {
      color: indianred;
      opacity: 1;
      transition: color 0.3s;
    }
  }

  &:hover .deleteButton {
    visibility: visible;
    opacity: 0.3;
    transition: opacity 0.3s linear;
  }
}
