.selectedLanguageHeader {
  display: flex;
  flex-direction: column;
  width: 100%;

  .selectedLanguageTitle {
    flex: 1;
    align-self: center;
    font-variant: small-caps;
    font-size: 1.3em;
    letter-spacing: 0.2em;
  }

  .button {
    width: 12em;
    height: 3em;
    padding: 0.3em;
    font-size: 0.7em;
    align-self: flex-end;
  }
}

.content {
  flex: 1;
  height: 100%;
  width: 100%;
}
